language: cpp

dist: xenial
sudo: required
os: linux
  
compiler: 
  - gcc
  - clang
  
env:
  - BUILD_TYPE=release

#matrix:
#  include:
#   - os: linux
#     compiler: gcc
#     env: BUILD_TYPE=coverage
#     services:
#        - xvfb
#   - os: linux
#     compiler: gcc
#     env: BUILD_TYPE=doxygen
     
cache:
  apt: true
  directories:
    - $HOME/.cache/pip
    - $HOME/.cache/http
    - /home/travis/.cache/pip
    - /home/travis/.cache/pip/http

branches:
  only:
    - master

before_install:
  - source .travis/${TRAVIS_OS_NAME}/before_install.sh
 
install:
  - source .travis/${TRAVIS_OS_NAME}/install.sh
   
script:
  - source .travis/${TRAVIS_OS_NAME}/script.sh
